

{{message}}



    <a href="http://jquery.com/">jQuery</a>





<br>
<br>
<br>

<div id='master'>
<button type ="button" class ="newGoal">new goal</button><br>
<br>
<br>
<label for ="reviewTime">Enter Review Time: </label>
<br>
<input type = "time" id = "reviewTime" name = "reviewTime" value = {{{ defaultTime }}}></input>
<button type = "button" id ="submitTime" >Enter Review Time</button>


</div>

<script src ='goals.js'></script>