<!-- Welcome to EJS
See http://www.embeddedjs.com/getting_started.html#create_template
Everything you want to push as a static variable goes between 
Everyhing you want to run as logic (regular javascript) goes between 
-->

<div class="title">  
    <%= title %>
</div>  

